#confirmation-details {
    .jumbotron {
        margin-top: 4rem;
        border-radius: 2rem;
        word-break: break-all;
    }
    
    h5 {
        font-size: 1.3rem;
        margin-top: 1rem;
    }
}