@import '../../../../../../sass/mixins';

#add-class-modal {
    .modal-btn {
        box-shadow: none;
        font-size: 1rem;
        width: auto;
        padding: 0.35rem 1rem;
    }

    input, textarea {
        @include default-input;
        font-size: 1rem;
        font-weight: normal;
        padding-top: 1.4rem;
        padding-bottom: 1.4rem;
    }

    textarea {
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
    }
}