$primary:#FA7580;
$primary-shadow: #FF5966;

$primary-light: #ff7a85;
$primary-shadow-light: #ff6774;



$secondary: #2EBBAC;
$secondary-shadow: #00B09D;

$secondary-light: #47c5b8;
$secondary-shadow-light: #02beac;


$text-primary: #003D4A;

$light: #F4FFFF;