@import '../../sass/globals';
@import '../../sass/bootstrap.scss';
@import '../../sass/variables';
@import '../../sass/mixins';

a {
    display: block;
}

a:hover {
    color: #fff !important;
}

.content-color{
    color: $text-primary;
}

.title {
    @include title;
}
.small-section-title{
    @include small-section-title;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    font-family: "brandon-grotesque", sans-serif; 
}

.v-center{
    @include v-center;
}

@media (min-width: 1500px) {
    #main-container {
        max-width: 95%;
    }
}

@media (min-width: 1600px) {
    #main-container {
        max-width: 90%;
    }
}