@import '../../sass/globals';
@import '../../sass/bootstrap.scss';
@import '../../sass/variables';
@import '../../sass/mixins';


a:hover {
    color: #fff !important;
}


.title {
    @include title;
}
.small-section-title{
    @include small-section-title;
}
.subtitle {
    @include subtitle;
}



* {
    padding: 0;
    margin: 0;
    text-decoration: none !important;
    font-family: "brandon-grotesque", sans-serif; 
}


.button-primary {
    @include button;
    background-color: $primary !important;
    box-shadow: 0px 7px 0px $primary-shadow;
}

.button-primary:hover {
    background-color: $primary-light !important;
    box-shadow: 0px 7px 0px $primary-shadow-light;
}

.button-secondary {
    @include button;
    background-color: $secondary !important;
    box-shadow: 0px 7px 0px $secondary-shadow;
}

.button-secondary:hover {
    background-color: $secondary-light !important;
    box-shadow: 0px 7px 0px $secondary-shadow-light;
}

.v-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 1500px) {
    body > #root > #main-container {
        max-width: 95%;
    }
}

@media (min-width: 1600px) {
    body > #root > #main-container {
        max-width: 90%;
    }
}