#landing {
    h2 {
        font-size: 4.2rem;
        line-height: 5.2rem;
        color: #003D4A;
        font-style: normal;
        font-weight: 700;
        margin-bottom: 1.5rem;
        font-family: "brandon-grotesque", sans-serif; 
    }

    p {
        font-size: 36px;
        line-height: 42.55px;
        font-weight: 400;
        font-style: normal;
        color: #003D4A;
        font-family: "brandon-grotesque",sans-serif; 
        margin-bottom: 38px;
    }
 }