/* Styles applied to header */

.header{
  font-weight: bold;
  /* border-bottom: 1px solid #77A6F7; */
  padding: 0.4rem;
  /* border: 5px dashed red; */
  display: flex;
  align-items: center;
  background-color: #A8D0E6;
}

.logo {
  /* border: 3px dotted orange; */
  max-width:20%;
  height:auto;
}

.header--links {
  /* border: 3px dotted greenyellow; */
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.aboutus {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #4d6da0;
  padding: 8% 14%;
  color: #4b4b4b;
  /* background-color: #587cb4; */
}
.aboutus:hover {
  background-color: #6792d6;
}

/* Styles appied to list */

.main {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding: 5%;
  /* border: 5px dashed black; */
  background-color: #a8d0e6;
}

.landing {
  display: flex;
  /* align-content: center;
  justify-content: center; */
  /* overflow: hidden; */
  /* width: 100%;
  height: 100vh;
  object-fit: fill; */
}

.landing--logo {

}

.landing--video {
  /* border: tomato 4px dotted; */
  /* position: absolute; */
  width: 100%;
  height: 100vh;
  /* z-index: 1; */

}

.byline {
  /* border: 4px dotted green; */
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 64px;
  color: rgb(238, 238, 238);
}

/* Styles applied to item */

.item {
  border: 2px solid #B48A4228;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  padding: 2%;
  background-color: rgb(231, 231, 231);
  border-radius: 12px;
  color:rgb(68, 68, 68);
}

.item-image {
  max-height: 200px;
  max-width: 200px;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* margin: 16px 0; */
  padding-right: 1%;
}

.chef-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.chef-thumbnail {
  width: 35%;
  height: 35%;
  border-radius: 50%;
}

.item-details {
  display: flex;
  flex-direction: column;
  margin: 0 1%
}

.item-button {
  display: flex;
  align-items: center;
}

.select-item {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid black;
  height: 10%;
}