/* Styles applied to header */

.header{
  font-weight: bold;
  /* border-bottom: 1px solid #77A6F7; */
  padding: 0.4rem;
  /* border: 5px dashed red; */
  display: flex;
  align-items: center;
  background-color: #A8D0E6;
}

.logo {
  /* border: 3px dotted orange; */
  max-width: 40%;
  height:auto;
}

.header--links {
  /* border: 3px dotted greenyellow; */
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.aboutus {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #4d6da0;
  padding: 8% 14%;
  color: #4b4b4b;
  /* background-color: #587cb4; */
}
.aboutus:hover {
  background-color: #6792d6;
}

/* Styles appied to list */

.main {
  display: flex;
  flex-direction: column;
  padding: 5%;
  /* border: 5px dashed black; */
  /* background-color: #a8d0e6; */
  background-color: #a8d0e66b
}

.landing {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.landing--front {
  align-self: center;
  text-align: center;
  z-index: 1;
  /* display: flex;
  align-items: center;
  flex-direction: column; */
}

.landing--front--byline {
  /* border: 4px dotted green; */
  /* display: flex;
  justify-content: center;
  margin-bottom: 10%; */
  /* max-width: 90%; */
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 4vw;
  color: rgb(216, 216, 216);
}

.landing--video {
  /* border: tomato 4px dotted; */
  position: absolute;
  top: 0;
  left: 0;
  /* opacity: 0.95; */
}

.landing--color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  opacity: 0.15;
}

/* styles applied to instructions section */

.instructions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15%;
}

.instruction--card {
  border: 3px #ee822f2d solid;
  padding: 3% 2%;
  width: 20%;
  box-shadow: 5px 8px #426cb43d;
  background-color: #426CB4;
  border-radius: 3%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.instruction--card-icon {
  max-width: 70px;
  height: auto;
  align-self: center;
  margin-bottom: 15%;
}

/* Styles applied to item */

.item {
  border: 2px solid #b48a423b;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  padding: 2%;
  /* background-color: rgb(231, 231, 231); */
  background-color: #ececec;
  border-radius: 12px;
  color:rgb(68, 68, 68);
}

.item-image {
  max-height: 200px;
  max-width: 200px;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* margin: 16px 0; */
  padding-right: 1%;
}

.chef-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.chef-thumbnail {
  width: 35%;
  height: 35%;
  border-radius: 50%;
}

.item-details {
  display: flex;
  flex-direction: column;
  margin: 0 1%
}

.item-button {
  display: flex;
  align-items: center;
}

.select-item {
  /* background-color: transparent;
  border-radius: 15px;
  border: 1px solid black;
  height: 10%; */
  background-color: #B48A42;
  border: 1px solid #B48A42
}

/* global styles */

h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 4vw;
  color: rgb(98, 98, 98);
  align-self: center;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: bold;
  font-size: 2vw;
  color: rgb(238, 238, 238);
  /* max-width: fit-content; */
  text-align: center;
}