/* Styles applied to header */

.header{
  font-weight: bold;
  border-bottom: 1px solid grey;
  padding: 0.4rem;
  border: 5px dashed red;
  display: flex;
  align-items: center;
}

.logo {
  border: 3px dotted orange;
  max-width:20%;
  height:auto;
}

.header--links {
  border: 3px dotted greenyellow;
  width: 50%;
  height: auto;
  display: flex;
  justify-content: center;
}

.aboutus {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid black;
  padding: 3%;
}

/* Styles appied to list */

.main {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  padding: 5%;
  border: 5px dashed black;
}

.byline {
  border: 4px dotted green;
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 64px;
  color: rgb(128, 50, 50);
}

/* Styles applied to item */

.item {
  border: 4px dotted green;
  display: flex;
  justify-content: center;
  margin-top: 5%;
  padding: 2%;
}

.item-image {
  max-height: 200px;
  max-width: 200px;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  /* margin: 16px 0; */
}

.chef-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.thumbnail {
  width: 100%;
  height: auto;
  border-radius: 5%;
}

.chef-thumbnail {
  width: 35%;
  height: 35%;
  border-radius: 50%;
}

.item-details {
  display: flex;
  flex-direction: column;
  margin: 0 1%
}

.item-button {
  display: flex;
  align-items: center;
}

.select-item {
  background-color: transparent;
  border-radius: 15px;
  border: 1px solid black;
  height: 10%;
}