.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 60%;
  padding: 2rem;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

.chef-photo {
  max-width: 12vw;
  max-height: auto;
  border-radius: 5px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}
.booking-input-section {
  display: flex;
  align-items: center;
}

#booking-size-input {
  border: 1px gray solid;
  border-radius: 5px;
  width: 3vw;
  height: 2vh;
  margin-left: 5%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

#booking-datetime-input {
  border: 1px gray solid;
  border-radius: 5px;
  width: 16vw;
  height: 2vh;
  margin-left: 5%;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
}

.submit-booking-form {
  border: 1px gray solid;
  border-radius: 10px;
  height: 5vh;
  margin-top: 3vh;
  background-color: rgb(10, 124, 10);
  color: aliceblue;

  
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 2vh;
}

.submit-booking-form:hover {
  background-color: rgb(38, 177, 165)
}